@use 'variables' as *;
@use 'mixins' as *;

.top-container {
  padding-top: 4.9%;
  padding-bottom: 8.5%;
  height: 100%;
  background: $bg-main-shade;
}

.wrapper {
  width: 58.3%;
  margin: 0 auto;
}

ul, li, a {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 42px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: $text-accent;
}

a.header-active {
  font-weight: 500;
  color: $text-active;
}

.info-block {
  @include flex-center-column;
  gap: 60px;
  margin-top: 15.5%;
}

.accent-text {
  font-weight: 500;
  font-size: 48px;
  line-height: 45px;
  color: $text-accent;
}

.main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26.25px;
  width: 46%;
  color: $text-main;
}

.message-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 26.25px;
  letter-spacing: 0.1em;
  text-align: center;
  width: 225px;
  height: 65px;
  padding: 20px 40px;
  border-style: none;
  cursor: pointer;
  color: $text-secondary;
  background: $bg-secondary;
  @include transition(background, 0.3s);

  &:hover {
    background: #436896;
  }
}

.about-container {
  width: 100%;
  height: fit-content;
  padding: 5.3% 0;
}

.about-block {
  @include flex-center;
  flex-direction: column;
  gap: 50px;
}

.submain-text {
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  color: $text-accent;
}

.main-text-block {
  font-weight: 400;
  font-size: 16px;
  line-height: 26.25px;
  width: 50%;
  text-align: center;
  color: $text-main;
}

.project-container {
  width: 100%;
  height: fit-content;
  padding: 5.3% 20%;
  background: $bg-secondary;
}

.project-items {
  @include flex-center;
  flex-wrap: wrap;
  gap: 45px;
}

.item {
  @include flex-center;
  gap: 20px;
}

.project-number {
  font-weight: 500;
  font-size: 21px;
  color: $text-secondary;
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 164%;
  color: $text-secondary;
}

.job-container {
  width: 100%;
  padding: 5.3% 0;
  background: $bg-main-shade;
}

.video-block {
  position: relative;
  display: inline-block;
  margin-top: 56px;
}

.video, .play-button {
  display: block;
}

.video {
  width: 100%;
  height: 100%;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 20%;
  height: 20%;
  cursor: pointer;
}

footer {
  width: 100%;
  padding: 3.96% 0;
  color: $text-secondary;
  background: $bg-secondary;
}

.footer-contact-block {
  @include flex-center-column;
  gap: 20px;
}

.footer-name {
  font-weight: 500;
  font-size: 21px;
}

.footer-copytight {
  font-weight: 400;
  font-size: 13px;
  line-height: 164%;
}

@include media('small') {
  .wrapper {
    width: 90%;
  }

  .main-text, .main-text-block {
    width: 100%;
  }

  .footer-name, .footer-copyright {
    font-size: 12px;
  }
}

@include media('medium') {
  .wrapper {
    width: 85%;
  }

  .main-text {
    width: 95%;
  }

  .main-text-block {
    width: 85%;
  }

  .footer-name, .footer-copyright {
    font-size: 14px;
  }

  .accent-text {
    line-height: 78px;
  }
}

@include media('large') {
  .wrapper {
    width: 65%;
  }

  .main-text {
    width: 75%;
  }

  .main-text-block {
    width: 70%;
  }
}